body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
}

nav {
    background-color: #ffffff;
    padding: 10px 20px;
    border-bottom: 1px solid #e0e0e0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-name {
    font-size: 13px;
    font-weight: bold;
    color: #000000;
}

.nav-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links li a {
    color: #000000;
    text-decoration: none;
    font-size: 13px;
    padding-bottom: 5px;
    position: relative;
}

.nav-links li a.active::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #000000;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
}

.project-card {
    flex-basis: calc(50% - 20px); /* Ensures each card takes up half the width minus the margin */
    margin-bottom: 20px;
    margin-right: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex;
    flex-direction: column;
}

.project-card:nth-child(2n) {
    margin-right: 0; /* Remove right margin for every second card */
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card img {
    width: 100%;
    height: auto;
    display: block;
}

.project-card h3 {
    text-align: center;
    padding: 15px;
    background-color: #f4f4f4;
    margin: 0;
    font-size: 13px;
    flex-grow: 1; /* Allow the title to grow to fit the remaining space */
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 50px 20px;
}

header h1 {
    font-size: 2.5em;
    margin: 0;
}

header p {
    font-size: 13px;
    margin: 10px 0 0;
}

section {
    padding: 50px 20px;
    background-color: #ffffff;
}

section h2 {
    font-size: 1.8em;
    margin-bottom: 20px;
}

section p {
    font-size: 13px;
    line-height: 1.6;
    max-width: 600px;
    margin: 0 auto;
}

footer {
    background-color: #ffffff;
    color: #000000;
    padding: 20px 0;
    margin-top: 50px;
    font-size: 13px;
    text-align: center;
}

/* Responsive Design for Project Cards */

/* Tablets and medium screens */
@media (max-width: 768px) {
    .project-card {
        flex-basis: 100%; /* Full width for single card per row */
        margin-right: 0;
    }
}

/* Small screens and mobile devices */
@media (max-width: 480px) {
    .project-card {
        flex-basis: 100%; /* Full width for single card per row */
        margin-right: 0;
    }
}
